
.next_event,
.past_event{
	display: none;
}

.next .next_event{
	display: block;
}
.past .past_event{
	display: block;
}

/*-----------------------------------------------------------------------------------*/
/*	Homepage/Archive Styles (anywhere that grids are used)
/*-----------------------------------------------------------------------------------*/
body{
    background: #4d5053 url(images/bg.png) repeat;
    margin: 0 auto;
}

.post-grid {
	width: auto;
	margin: 0 -20px 0 0;
	max-width: 920px;
}

.grid-item {
	padding: 25px 20px 5px;
	float: left;
	width: 440px;
	margin: 0 20px 20px 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    background: #3d3f40;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), inset 0px -2px 0 0 rgba(0, 0, 0, 0.15), inset 0 -15px 30px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), inset 0px -2px 0 0 rgba(0, 0, 0, 0.15), inset 0 -15px 30px 0 rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    border-radius: 3px;

    /*-webkit-transition : all 500ms ease;*/
    /*-moz-transition : all 500ms ease;*/
    /*-ms-transition : all 500ms ease;*/
    /*-o-transition : all 500ms ease;*/
    /*transition : all 500ms ease;*/
}

.grid-item .post-image img,
.grid-item .post-image .overlay {
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

.post-footer {
	margin-top: -5px;
	margin-bottom: 0;
}

.featured-item {
	margin-left: 10px;
}

.featured-image{
    border-radius: 3px 3px 0 0;
    margin: -25px -20px 5px;
}
.featured-image img{
    width:100%;
    height: auto;
    border-radius:3px 3px 0 0
}

.preview{
	background-position: 50% 50%;
	background-size: 100% auto;
	background-repeat: no-repeat;
	cursor: pointer;
	/*-webkit-transition:all 1350ms ease;*/
	/*-moz-transition:all 1350ms ease;*/
	/*-ms-transition:all 1350ms ease;*/
	/*transition : all 1350ms ease;*/
	position:relative;
}
.preview .play{
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	pointer-events:none;
	background: url(images/play.png) no-repeat 50% 50%;
	opacity: 0.6;
}
.preview:hover{
	background-size: 105% auto;
}
.preview:hover .play{
	opacity: 0.9;
}
.featured-video{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    margin:-26px -20px 20px;
    border-radius: 4px 4px 0 0;
    border-top: 3px solid #000
}

.featured-video p{
    padding: 0 !important;
}
.featured-video iframe,
.featured-video object,
.featured-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.osx.gecko .featured-item {
	margin-left: 10px;
}

.featured-item:before,
.comment-item:before {
	font: normal 25px/20px "Entypo";
	content: "âž¦";
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	margin-right: 2px;
	vertical-align: top;
}

.win .featured-item:before,
.win .comment-item:before {
	line-height: 8px;
}

.featured-item:before {
	content: "ðŸ‘";
}

.container{
    background: #3d3f40;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), inset 0px -2px 0 0 rgba(0, 0, 0, 0.15), inset 0 -15px 30px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), inset 0px -2px 0 0 rgba(0, 0, 0, 0.15), inset 0 -15px 30px 0 rgba(0, 0, 0, 0.1);
}

#disqus_thread{
    background: rgba(255,255,255,0.1);
    padding: 20px;
    border-radius: 3px;
}

/*-----------------------------------------------------------------------------------*/
/*	Typographical, Body, & Helper Styles
/*-----------------------------------------------------------------------------------*/

html {
    font-size: 0.75em;
    -webkit-text-size-adjust: 0.75em;
    -ms-text-size-adjust: 0.75em;
}

body {
	font: normal "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.667em;
	position: relative;
}

a {
	/* color: #4a6abd; */
	padding: 2px 4px;
	margin: -2px -4px;
	text-decoration: none;
	-moz-border-radius: 2px;
	border-radius: 2px;

	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

.osx.gecko a {
	padding: 3px 4px 2px 4px;
	margin: -3px -4px -2px -4px;
}

a:hover,
.highlight,
.special-link a {
	/* background: #4a6abd; */
	color: #fff !important;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}

.post-title,
.grid-title,
.single-title,
.widget-title {
	margin-top: 0 !important;
}

.grid-title {
	margin-bottom: 1.071em;
}

.comment-title {
	margin-right: 1em;
}

h1,
.respond-section #reply-title {
	font-size: 1.714em;
	line-height: 1.417em;
}

h2 {
	font-size: 1.429em;
	line-height: 1.5em;
}

h3,
h2.grid-title {
	font-size: 1.167em;
	line-height: 1.571em;
}

h4 {
	font-size: 1em;
	line-height: 1.571em;
}

h5 {
	font-size: 0.857em;
	line-height: 1.429em;
	font-weight: bold;
	text-transform: uppercase;
}

h6 {
	font-size: 0.714em;
	line-height: 1.143em;
	text-transform: uppercase;
}

audio,
video,
iframe,
object {
	display: block;
}

iframe {
	width: 100% !important;
}

b, strong {
	font-weight: bold;
}

i, em, dfn {
	font-style: italic;
}

p {
	margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
ul,
ol,
dl,
dd,
blockquote,
address,
table,
fieldset,
form {
	margin-bottom: 20px;
}

li:last-child,
ul:last-child,
p:last-child,
form:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
pre:last-child {
	margin-bottom: 0;
}

ul {
	list-style: square;
}

ul ul {
	list-style: disc;
}

ul ul ul {
	list-style: circle;
}

ol {
	list-style: decimal;
}

ol ol {
	list-style: upper-roman;
}

ol ol ol {
	list-style: lower-roman;
}

ul, ol {
	padding-left: 10px;
}

ul ul, ul ol, ol ul {
	margin: 0.833em 0 !important;
}

blockquote {
	padding-left: 1.667em;
	margin: 0 1.667em 1.667em 1.667em;
}

blockquote blockquote {
	margin-left: 0;
}

blockquote cite:before {
	content: "â€” ";
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

pre {
	padding: 15px 20px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

table {
	width: 100%;
	border-radius: 3px;
}

thead,
tbody,
tfoot {
	width: 100%;
}

td, th {
	text-align: center;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 13px;
}

dd:before {
	content: "Â»";
	margin-left: -13px;
	width: 13px;
	display: inline-block;
}




/* meetup grid item */

#meetup {
	height: 98px;
	padding: 0;
	font-family: "Open Sans", arial;
}
#meetup a:hover {
	text-decoration: none;
}
#meetup div {
	padding: 5px 10px 0;
	font-size: 14px;
	height: 91px;
	position: relative;
	color: white;
	display: none;
	border-radius: 3px;
}
#meetup.past .past_event {
	background-color: #e3492b;
	display: block;
}
#meetup.past .past_event>* {
	opacity: .7;
}
#meetup.past.next .past_event {
	width: 134px;
	border-right: 2px solid #d8472a;
	float: left;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
#meetup.next .next_event {
	background-color: #f0612f;
	display: block;
}
#meetup.past.next .next_event {
	width: 264px;
	float: left;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
#meetup time{
	position: absolute;
	bottom: 10px;
	left: 10px;
}
#meetup time em{
	font-size: 56px;
	font-style: normal;
	font-weight: bold;
}
#meetup h3 a {
	padding-right: 17px;
	background: url(images/ext-link.gif) right 5px no-repeat;
}
#meetup #join{
	width: 116px;
	height: 45px;
	line-height: 45px;
	background-color: #ffffff;
	border-radius: 3px;
	box-shadow: 0 2px 0 #bb4c25;
	position:absolute;
	top: 12px;
	right: 13px;
	color: #f04828;
	font-weight: bold;
	font-size: 22px;
	text-align: center;
}
#meetup #join:hover{
	background-color: #f04828;
}
#meetup small{
	width: 116px;
	position:absolute;
	bottom: 10px;
	right: 13px;
	font-size: 14px;
	left: auto;
	text-align: center;
}/* meetup grid item */

#meetup {
	height: 98px;
	padding: 0;
	font-family: "Open Sans", arial;
}
#meetup a:hover {
	text-decoration: none;
}
#meetup div {
	padding: 5px 10px 0;
	font-size: 14px;
	height: 91px;
	position: relative;
	color: white;
	display: none;
	border-radius: 3px;
}
#meetup.past .past_event {
	background-color: #e3492b;
	display: block;
}
#meetup.past .past_event>* {
	opacity: .7;
}
#meetup.past.next .past_event {
	width: 134px;
	border-right: 2px solid #d8472a;
	float: left;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
#meetup.next .next_event {
	background-color: #f0612f;
	display: block;
}
#meetup.past.next .next_event {
	width: 264px;
	float: left;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
#meetup time{
	position: absolute;
	bottom: 10px;
	left: 10px;
}
#meetup time em{
	font-size: 56px;
	font-style: normal;
	font-weight: bold;
}
#meetup h3 a {
	padding-right: 17px;
	background: url(images/ext-link.gif) right 5px no-repeat;
}
#meetup #join{
	width: 116px;
	height: 45px;
	line-height: 45px;
	background-color: #ffffff;
	border-radius: 3px;
	box-shadow: 0 2px 0 #bb4c25;
	position:absolute;
	top: 12px;
	right: 13px;
	color: #f04828;
	font-weight: bold;
	font-size: 22px;
	text-align: center;
}
#meetup #join:hover{
	background-color: #f04828;
}
#meetup small{
	width: 116px;
	position:absolute;
	bottom: 10px;
	right: 13px;
	font-size: 14px;
	left: auto;
	text-align: center;
}


/* Large screens only */
@media only screen and (min-width: 768px) {

	.single-post-wrapper .quote-header blockquote:before,
	.single-post-wrapper .quote-header blockquote:after {
		font-size: 106px;
	}

	.single-post-wrapper .quote-header blockquote:before {
		top: 18px;
		left: -63px;
	}

	.single-post-wrapper .quote-header blockquote:after {
		bottom: -40px;
		right: -62px;
	}

	.single-post-wrapper .post-header {
		margin: -50px -40px 20px -40px;
	}

	.single-post-wrapper .quote-header,
	.single-post-wrapper .link-header {
		padding: 50px 40px;
		font-size: 1.333em;
	}

	.single-post-wrapper .quote-header {
		padding: 50px 100px;
	}

	.single-post-wrapper .link-header h2 {
		margin-bottom: 5px;
	}

	.single-post-wrapper .link-header h2:before {
		font-size: 60px;
	}

	.single-post-wrapper .link-header span {
		font-size: 14px;
	}

	.single-post-wrapper .quote-header figcaption {
		font-size: 1em;
		margin-top: 20px;
	}

	.single-post-wrapper {
		padding: 50px 40px;
	}

}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

	.body-width {
		padding: 0 20px;
	}

	.primary-nav {
		display: none !important;
	}

	.dropdown-nav,
	.dropdown-nav select {
		display: block;
	}

	.header-item {
		margin-left: 20px;
	}

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

	.body-width {
		max-width: 728px;
	}

	.post-grid {
		max-width: 748px;
	}

	.grid-item {
		max-width: 350px;

	}

	.single-post-wrapper .post-wrapper {
		float: none !important;
		width: auto;
		margin-right: 0;

	}

	.sidebar {
		margin: 50px -40px 0 0;
		float: none !important;
		display: block;
		width: auto !important;
	}

	.widget {
		width: 50%;
		float: left;
		padding-right: 40px;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}

	#meetup.past.next .past_event {
			width: 144px;
		}

		#meetup.past.next .next_event {
			width: 164px;
		}
		#meetup time em{
			font-size: 26px;
		}
		#meetup #join{
			width: 56px;
			height: 35px;
			line-height: 35px;
			top: 49px;
		}

	    #meetup small{
		    display: none;
	    }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

	.header {
		margin-bottom: 30px;
	}

	.body-width {
		width: auto;
		padding: 0 20px;
	}
	.post-grid{
		width:100%;
	}
	.grid-item {
		width: 100%;
	}

	.page-pagination {
		margin-bottom: 0;
	}

	.footer .alignleft,
	.footer .alignright {
		float: none;
		text-align: center;
	}

	.single-post-wrapper .post-wrapper,
	.single-post-wrapper .sidebar {
		float: none !important;
		width: auto;
		margin-right: 0;
	}

	.large-container {
		padding: 30px;
	}

	.single-post-wrapper {
		padding: 40px 30px;
	}

	.single-post-wrapper .post-header {
		margin: -40px -30px 15px -30px;
	}

	.single-post-wrapper .link-header {
		padding: 30px 25px;
	}

	.single-post-wrapper .quote-header {
		padding: 30px auto;
	}

	.single-post-wrapper .post-wrapper {
		font-size: 1.083em; /* 13px */
		line-height: 1.615em; /* 21px */
	}

	.single-post-wrapper .post-header {
		font-size: 1em;
		line-height: 1.667em;
	}

	.single-post-wrapper .post-wrapper h3 {
		font-size: 1.077em; /* 14px */
		line-height: 1.571em; /* 22px */
	}

	.single-post-wrapper .link-header h2,
	.single-post-wrapper .quote-header blockquote {
		font-size: 1.5em;
		line-height: 1.556em;
	}

	.single-post-wrapper .quote-header figcaption {
		margin-top: 13px;
	}

	.post-content h1,
	.post-content h2,
	.post-content h3,
	.post-content h4,
	.post-content h5,
	.post-content h6 {
		margin-top: 30px;
	}

	.post-content .alignleft,
	.post-content .alignright {
		float: none;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.comment-title {
		display: block;
		margin-bottom: 7px;
	}

	.sidebar {
		margin: 50px -20px 0 0;
		float: none !important;
		display: block;
		width: auto !important;
	}

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

	.header .alignleft,
	.header .alignright,
	.page-identifier .alignleft,
	.page-identifier .alignright {
		display: block;
		float: none !important;
	}

	.header-item {
		margin: 0 0 10px 0 !important;
	}

	.header-item:last-of-type {
		margin: 0 !important;
	}

	h1.site-logo {
		margin-bottom: 20px !important;
	}

	.site-logo a {
		width: 100% !important;
		background-position: center center !important;
	}

	.dropdown-nav,
	#searchform,
	#search {
		display: block;
		width: auto;
	}

	.header #search {
		width: 264px !important;
	}

	.featured-item span {
		display: none;
	}

	.body-width {
		width: 100%;
		padding: 0 5px;
		margin: 0 0;
		-moz-box-sizing:  border-box;
		box-sizing:  border-box;
	}

	.post-grid {
		width: 100%;
	}

	.grid-item {
		margin-right: 0;
		width: 100%;
	}

	.large-container {
		padding: 20px;
	}

	.single-post-wrapper {
		padding: 25px 20px;
	}

	.post-content ul,
	.post-content ol {
		padding-left: 15px;
	}

	.single-post-wrapper .post-header {
		margin: -25px -20px 15px -20px;
	}

	.single-post-wrapper .post-wrapper,
	.single-post-wrapper .post-header {
		font-size: 1em;
		line-height: 1.667em;
	}

	.quote-header {
		padding: 25px 20px;
	}

	.quote-header blockquote:before,
	.quote-header blockquote:after {
		content: "";
		display: none;
	}

	.commentlist .children {
		margin: 0 0 0 20px !important;
	}

	input[type="text"] {
		width: 150px;
	}

	.meta-table td {
		padding: 10px 10px;
	}

	.date-item {
		white-space: normal;
	}

	#meetup.past.next .past_event {
		width: 104px;
	}

	#meetup.past.next .next_event {
		width: 164px;
	}
	#meetup time em{
		font-size: 26px;
	}
	#meetup #join{
		width: 56px;
		height: 35px;
		line-height: 35px;
		top: 49px;
	}

    #meetup small{
	    display: none;
    }
}
